@model IEnumerable<InsuraTech.DATA.EF.OpenPosition>

@{
    ViewBag.Title = "Job Openings";
}

<div class="container">
    <h2>@ViewBag.Title</h2>

    @if (Session["ErrorMessage"] != null)
    {
        <p>@Session["ErrorMessage"]</p>
    }

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>

    <table class="table display">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Location.StoreNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Location.City)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Location.State)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Position.Title)
                </th>
                @if (Request.IsAuthenticated && User.IsInRole("Employee"))
                {
                    <th>
                    </th>
                }
                <th></th>

            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Location.StoreNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Location.City)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Location.State)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Position.Title)
                    </td>
                    @if (Request.IsAuthenticated && User.IsInRole("Employee"))
                    {
                        <td>
                            @Html.ActionLink("Apply", "Apply", new { id = item.OpenPositionId })
                        </td>
                    }

                        <td>
                            @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                            {
                                @Html.ActionLink("Edit", "Edit", new { id = item.OpenPositionId })
                            }
                            |
                            @Html.ActionLink("Details", "Details", new { id = item.OpenPositionId }) |

                            @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                            {
                                @Html.ActionLink("Delete", "Delete", new { id = item.OpenPositionId })
                            }

                        </td>
                </tr>
            }
        </tbody>

    </table>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            $('.display').DataTable({responsive:true});
        });


    </script>

}