<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>InsuraTech - Find the right Job for you!</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicons -->
    <link href="~/Content/img/favicon.png" rel="icon">
    <link href="~/Content/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Bootstrap CSS File -->
    <link href="~/Content/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="~/Content/lib/flat-ui/css/flat-ui.css" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="~/Content/css/style.css" rel="stylesheet">

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />

    <!--Datatables.NET Style-->
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css" />

    <!-- =======================================================
      Template Name: Good
      Template URL: https://templatemag.com/good-bootstrap-corporate-template/
      Author: TemplateMag.com
      License: https://templatemag.com/license/
    ======================================================= -->
</head>

<body>

    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@Url.Action("Index", "Home")">InsuraTech</a>
            </div>
            <div class="navbar-collapse collapse">
                @if (Request.IsAuthenticated && User.IsInRole("Admin") || Request.IsAuthenticated && User.IsInRole("Manager") || Request.IsAuthenticated && User.IsInRole("Employee"))
                {
                <ul class="nav navbar-nav">
                    <li class="dropdown active">
                        <a href="@Url.Action("Index", "Home")">Home</a>
                    </li>
                    <li><a href="@Url.Action("Index", "OpenPositions")">Careers</a></li>





                    @if (Request.IsAuthenticated && User.IsInRole("Manager"))
                    {
                        <li><a href="@Url.Action("Index", "Applications")">Applications</a></li>


                    }



                    @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <li><a href="@Url.Action("Index", "Positions")">Positions</a></li>
                        <li><a href="@Url.Action("Index", "Locations")">Locations</a></li>

                        <li class="dropdown">
                            <a href="~/Content/#" class="dropdown-toggle" data-toggle="dropdown">Admin <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="@Url.Action("Index", "Applications")">Applications</a></li>
                                <li><a href="@Url.Action("Index", "ApplicationStatus")">Application Statuses</a></li>
                                <li><a href="@Url.Action("Index", "UsersAdmin")">User Roles</a></li>
                                <li><a href="@Url.Action("Index", "RolesAdmin")">Admin Roles</a></li>
                                <li><a href="@Url.Action("Index", "UserDetails")">User Details</a></li>

                            </ul>
                        </li>
                    }

                    @if (Request.IsAuthenticated && User.IsInRole("Employee"))
                    {
                        <li><a href="@Url.Action("Index", "UserDetails")">My Profile</a></li>
                        <li><a href="@Url.Action("Index", "Applications")">My Apps</a></li>
                        <li><a href="@Url.Action("Contact", "Home")">Contact</a></li>

                    }

                    @*<li class="dropdown">
            <a href="~/Content/#" class="dropdown-toggle" data-toggle="dropdown">Portfolios <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href="~/Content/portfolio.html">Portfolio</a></li>
                <li><a href="~/Content/portfolio4.html">Portfolio 4 Columns</a></li>
                <li><a href="~/Content/project-single.html">Single Project</a></li>
            </ul>
        </li>*@


                    @*<li class="dropdown">
            <a href="~/Content/#" class="dropdown-toggle" data-toggle="dropdown">Settings <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li>
                    @Html.Partial("_LoginPartial")
                </li>
            </ul>
        </li>*@




                </ul>
                }

                @Html.Partial("_LoginPartial")

            </div>
            <!--/.nav-collapse -->
        </div>
    </div>


    <div>@RenderBody()</div>






    <div class="footer" id="copyrights">
        <div class="container">

            <p>
                &copy; Copyright @DateTime.Today.Year <strong>InsuraTech</strong>. All Rights Reserved
            </p>
            <div class="credits">
                <!--
                  You are NOT allowed to delete the credit link to TemplateMag with free version.
                  You can delete the credit link only if you bought the pro version.
                  Buy the pro version with working PHP/AJAX contact form: https://templatemag.com/good-bootstrap-corporate-template/
                  Licensing information: https://templatemag.com/license/
                -->
                Created with Good template by <a href="~/Content/https://templatemag.com/">TemplateMag </a>
                Converted by <a href="https://dylanschwarz.com">Dylan Schwarz</a>
            </div>
        </div>
    </div>


    <!-- / copyrights -->
    <!-- JavaScript Libraries -->
    <script src="~/Content/lib/jquery/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"
            integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30="
            crossorigin="anonymous"></script>
    <script src="~/Content/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Content/lib/php-mail-form/validate.js"></script>

    <!-- Template Main Javascript File -->
    <script src="~/Content/js/main.js"></script>

    <script src="//cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>

    @RenderSection("scripts", required: false)


</body>
</html>
